<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ShopNCA - Điện thoại, laptop, tablet, phụ kiện chính hãng</title>
    <meta name="description" content="Hệ thống bán lẻ điện thoại, máy tính laptop, tablet, smartwatch, nhà thông minh, thiết bị IT, phụ kiện chính hãng | Giá rẻ, trả góp 0%, giao hàng miễn phí." />
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="cellphones, cps, điện thoại di dộng, máy tính bảng, dien thoai chinh hang, smartphones, điện thoại phổ thông, may tinh xach tay, laptop chinh hang, phu kien laptop, điện thoại, dien thoai di dong,may tinh bang" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link rel="icon" href="https://t4.ftcdn.net/jpg/03/67/44/17/360_F_367441733_wHcnt923DVnjnxM4LRKAkCol0BurJyw5.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="https://cdn.cellphones.com.vn/media/favicon/default/logo-cps.png" type="image/x-icon" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ShopNCA - Điện thoại, laptop, tablet, phụ kiện chính hãng" />
    <meta property="og:description" content="Hệ thống bán lẻ điện thoại, máy tính laptop, tablet, smartwatch, nhà thông minh, thiết bị IT, phụ kiện chính hãng | Giá rẻ, trả góp 0%, giao hàng miễn phí." />
    <meta property="og:site_name" content="ShopNCA - Điện thoại, laptop, tablet, phụ kiện chính hãng" />
    <meta name="msvalidate.01" content="0575E5C773827FAE854ABAD4986A450C" />
    <link href="https://cdnjs.cloudflare.com" rel="preconnect" crossorigin>
    <meta property="og:image" content="https://cellphones.com.vn/media/cps-images/logo-s.png" />
    <meta property="og:image:secure_url" content="https://cellphones.com.vn/media/cps-images/logo-s.png" />
    <meta name="url" content="https://cellphones.com.vn/" />

    <meta rel="canonical" href="https://cellphones.com.vn/" />
    <meta property="fb:app_id" content="112980886043945" />

    <environment names="Development">
        <link rel="stylesheet" href="../Themes/NewThemes/Content/css/StyleSheet.css" />
    </environment>

    <script type="text/javascript" src="https://cdn.cellphones.com.vn/media/js/6d472e74730cfe74220f020fcfafab31.js?v=1635189312"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="https://cdn.cellphones.com.vn/media/css_secure/5f4b2e9f9c731bc3c60f5835af2f9e64.css?v=1635189312" media="all" />
    <![endif]-->
    <script defer>
        //<![CDATA[
        window.addEventListener('DOMContentLoaded', function () {
            Mage.Cookies.path = '/';
            Mage.Cookies.domain = '.cellphones.com.vn';
        })
        //]]>
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" media="all">

</head>
<body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4CLPV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5D9BSSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div class="header-overlay"></div>

    <header class="cps-header">
        <nav class="cps-navbar">
            <div class="cps-navbar__box-main affix" data-spy="affix">
                <div class="cps-container">
                    <div id="btnHeaderMenu" class="box-menu" style="pointer-events: none;">
                        <a class="btn-menu">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.99 26.99">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: none;
                                            stroke: #fff;
                                            stroke-linecap: round;
                                            stroke-linejoin: round;
                                            stroke-width: 1.8px;
                                        }
                                    </style>
                                </defs>
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <line class="cls-1" x1="7.06" y1="7.52" x2="19.92" y2="7.52"></line>
                                        <line class="cls-1" x1="7.06" y1="13.49" x2="19.92" y2="13.49"></line>
                                        <line class="cls-1" x1="7.06" y1="19.47" x2="11.95" y2="19.47"></line>
                                        <rect class="cls-1" x="0.9" y="0.9" width="25.19" height="25.19" rx="4.71"></rect>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <div class="box-list-menu">
                            <ul class="list-menu">
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/mobile.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-3.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-3.svg&quot;);"></i>
                                        <span>Điện thoại</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/apple.html">
                                                    <span>Apple</span>
                                                    <i class="fas fa-chevron-right fa-sm"></i>
                                                </a>
                                                <div class="box-list-menu box-child-list-menu">
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/mobile/apple/iphone-12-vna.html">
                                                                <span>iPhone 12 Series</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/mobile/apple/iphone-11-series.html">
                                                                <span>iPhone 11 Series</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/mobile/apple/iphone-x.html">
                                                                <span>iPhone X | XR</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/mobile/apple/iphone-13.html">
                                                                <span>iPhone 13 Series</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/samsung.html">
                                                    <span>Samsung</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/xiaomi.html">
                                                    <span>Xiaomi</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/oppo.html">
                                                    <span>OPPO</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/nokia.html">
                                                    <span>Nokia</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/realme.html">
                                                    <span>Realme</span>
                                                </a>
                                            </li>
                                            <li class="item-menu"
                                                <a href="https://cellphones.com.vn/mobile/vsmart.html">
                                                    <span>Vsmart</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/asus.html">
                                                    <span>ASUS</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/vivo.html">
                                                    <span>Vivo</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/oneplus.html">
                                                    <span>OnePlus</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/pocophone.html">
                                                    <span>POCO</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/nubia.html">
                                                    <span>Nubia</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/dien-thoai-pho-thong.html">
                                                    <span>Điện thoại phổ thông</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/mobile/hang-sap-ve.html">
                                                    <span>Tin đồn - Mới ra</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/laptop.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-380.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-380.svg&quot;);"></i>
                                        <span>Laptop, PC, Màn hình</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/mac.html">
                                                    <span>Mac</span>
                                                    <i class="fas fa-chevron-right fa-sm"></i>
                                                </a>
                                                <div class="box-list-menu box-child-list-menu">
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/laptop/mac/macbook-air.html">
                                                                <span>MacBook Air</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/laptop/mac/macbook-pro.html">
                                                                <span>MacBook Pro</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/laptop/mac/mini.html">
                                                                <span>Mac mini</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/laptop/mac/imac.html">
                                                                <span>iMac</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/hp.html">
                                                    <span>HP</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/dell.html">
                                                    <span>Dell</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/lenovo.html">
                                                    <span>Lenovo</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/surface.html">
                                                    <span>Microsoft Surface</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/asus.html">
                                                    <span>ASUS</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/acer.html">
                                                    <span>Acer</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/lg.html">
                                                    <span>LG</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/huawei.html">
                                                    <span>Huawei</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/msi.html">
                                                    <span>MSI</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/avita.html">
                                                    <span>Laptop Avita</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/laptop/gigabyte.html">
                                                    <span>Gigabyte</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/may-tinh-de-ban.html">
                                                    <span>Máy tính để bàn</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/man-hinh.html">
                                                    <span>Màn hình</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/may-in.html">
                                                    <span>Máy in</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/linh-kien.html">
                                                    <span>Linh kiện Laptop</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/tablet.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-4.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-4.svg&quot;);"></i>
                                        <span>Tablet</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/ipad-pro.html">
                                                    <span>iPad Pro</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/ipad-10-2.html">
                                                    <span>iPad 10.2</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/ipad-air.html">
                                                    <span>iPad Air</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/ipad-mini.html">
                                                    <span>iPad mini</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/samsung.html">
                                                    <span>Samsung</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/lenovo.html">
                                                    <span>Lenovo</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/xiaomi.html">
                                                    <span>Xiaomi</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/kindle.html">
                                                    <span>Kindle</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/tablet/may-doc-sach.html">
                                                    <span>Máy đọc sách </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/thiet-bi-am-thanh.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-220.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-220.svg&quot;);"></i>
                                        <span>Âm thanh</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/thiet-bi-am-thanh/loa.html">
                                                    <span>Loa</span>
                                                    <i class="fas fa-chevron-right fa-sm"></i>
                                                </a>
                                                <div class="box-list-menu box-child-list-menu">
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/thiet-bi-am-thanh/loa/loa-bluetooth.html">
                                                                <span>Loa Bluetooth</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/thiet-bi-am-thanh/loa/loa-tivi-soundbar.html">
                                                                <span>Loa Tivi | Soundbar</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/thiet-bi-am-thanh/tai-nghe.html">
                                                    <span>Tai nghe</span>
                                                    <i class="fas fa-chevron-right fa-sm"></i>
                                                </a><
                                                <div class="box-list-menu box-child-list-menu">
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/thiet-bi-am-thanh/tai-nghe/tai-nghe-bluetooth.html">
                                                                <span>Tai nghe Bluetooth</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/thiet-bi-am-thanh/tai-nghe/tai-nghe-nhet-tai.html">
                                                                <span>Tai nghe nhét tai</span>
                                                            </a>
                                                        </li>
                                                        <li class="item-menu">
                                                            <a href="https://cellphones.com.vn/thiet-bi-am-thanh/tai-nghe/headphones.html">
                                                                <span>Tai nghe chụp tai</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/do-choi-cong-nghe.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-610.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-610.svg&quot;);"></i>
                                        <span>Đồng hồ</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/apple-watch.html">
                                                    <span>Apple Watch</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/samsung.html">
                                                    <span>Samsung</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/garmin.html">
                                                    <span>Garmin</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/xiaomi.html">
                                                    <span>Xiaomi</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/amazfit.html">
                                                    <span>Amazfit</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/huawei.html">
                                                    <span>Huawei</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/oppo.html">
                                                    <span>OPPO</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/hang-khac.html">
                                                    <span>Hãng khác</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/vong-tay-thong-minh.html">
                                                    <span>Vòng tay thông minh</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/dong-ho-dinh-vi-tre-em.html">
                                                    <span>Đồng hồ định vị trẻ em </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/nha-thong-minh.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-845.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-845.svg&quot;);"></i>
                                        <span>Nhà thông minh</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/may-hut-bui.html">
                                                    <span>Máy hút bụi </span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/khoa-thong-minh.html">
                                                    <span>Khoá thông minh </span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/may-loc-khong-khi.html">
                                                    <span>Máy lọc không khí</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/den-thong-minh.html">
                                                    <span>Đèn thông minh</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/o-cam-dien.html">
                                                    <span>Ổ cắm,công tắc điện</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/tv-box.html">
                                                    <span>TV Box</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/can-dien-tu.html">
                                                    <span>Cân sức khoẻ</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/may-chieu.html">
                                                    <span>Máy chiếu</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/thiet-bi-y-te.html">
                                                    <span>Thiết bị y tế </span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/may-chay-bo.html">
                                                    <span>Máy chạy bộ </span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/nha-thong-minh/cam-bien.html">
                                                    <span>Cảm biến thông minh</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/thiet-bi-mang/thiet-bi-phat-song-wifi/wifi-mesh.html">
                                                    <span>Wifi Mesh</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/thiet-bi-mang/thiet-bi-phat-song-wifi/router-wifi.html">
                                                    <span>Modem Router</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/camera/an-ninh.html">
                                                    <span>Camera An Ninh</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/phu-kien.html">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-30.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-30.svg&quot;);"></i>
                                        <span>Phụ kiện</span>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                    </a>
                                    <div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/apple.html">
                                                    <span>Phụ Kiện Apple</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/dan-man-hinh.html">
                                                    <span>Dán điện thoại | Laptop </span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/bao-da-op-lung.html">
                                                    <span>Ốp lưng | Bao da | Ốp AirPods</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/do-choi-cong-nghe/day-deo-dong-ho.html">
                                                    <span>Dây đeo đồng hồ</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/balo-tui-chong-soc-laptop.html">
                                                    <span>Balo | Túi xách</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/sac-dien-thoai.html">
                                                    <span>Cáp sạc</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/pin-du-phong.html">
                                                    <span>Pin dự phòng</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/thiet-bi-mang.html">
                                                    <span>Thiết bị mạng</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/camera.html">
                                                    <span>Camera</span><i class="fas fa-chevron-right fa-sm"></i>
                                                </a><div class="box-list-menu box-child-list-menu"><ul class="list-menu"><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh.html"><span>Camera hành trình</span><i class="fas fa-chevron-right fa-sm"></i></a><div class="box-list-menu box-child-list-menu"><ul class="list-menu"><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh/gopro.html"><span>Gopro</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh/vietmap.html"><span>Vietmap</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh/insta360.html"><span>Insta360</span></a></li></ul></div></li><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/an-ninh.html"><span>Camera An ninh</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/gimbal.html"><span>Gimbal</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/phu-kien/camera/quay-phim.html"><span>Phụ kiện quay phim</span></a></li></ul></div>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/chuot-ban-phim-may-tinh.html">
                                                    <span>Chuột | Bàn Phím</span>
                                                </a>
                                            </li>
                                            <li class="item-menu"
                                                <a href="https://cellphones.com.vn/phu-kien/phu-kien-tien-ich.html">
                                                <span>Phụ kiện tiện ích</span></a></li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/the-nho-usb-otg.html">
                                                    <span>Thẻ nhớ, USB</span>
                                                </a>
                                            </li>
                                            <li class="item-menu">
                                                <a href="https://cellphones.com.vn/phu-kien/may-tinh-laptop.html">
                                                    <span>Phụ kiện máy tính - laptop</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/thu-cu-doi-moi">
                                        <i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-tcdm.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-tcdm.svg&quot;);"></i>
                                        <span>Thu Cũ</span><i class="fas fa-chevron-right fa-sm">
                                        </i>
                                    </a><div class="box-list-menu box-child-list-menu">
                                        <ul class="list-menu">
                                            <li class="item-menu" style="pointer-events: none;">
                                                <a><strong>ĐỐI TÁC THU MUA:</strong></a>
                                            </li>
                                            <li class="item-menu pl-3">
                                                <a href="https://cellphones.com.vn/thu-cu-doi-moi">
                                                    <span>CellphoneS</span>
                                                </a>
                                            </li>
                                            <li class="item-menu pl-3"><a href="https://cellphones.com.vn/thu-cu-doi-moi-sktel"><span>SKTel</span></a></li>
                                            <li class="item-menu pl-3"><a href="https://cellphones.com.vn/thu-cu-doi-moi-compasia"><span>Compasia</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/hang-cu.html"><i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-29.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-29.svg&quot;);"></i><span>Hàng cũ</span><i class="fas fa-chevron-right fa-sm"></i></a><div class="box-list-menu box-child-list-menu"><ul class="list-menu"><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/dien-thoai.html"><span>Điện thoại</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/may-tinh-bang.html"><span>Máy tính bảng</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/mac.html"><span>Mac</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/laptop.html"><span>Laptop</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/loa-tai-nghe.html"><span>Loa - Tai nghe</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/dong-ho-thong-minh.html"><span>Đồng hồ thông minh</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/nha-thong-minh.html"><span>Nhà thông minh</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/hang-cu/phu-kien.html"><span>Phụ kiện</span></a></li></ul></div>
                                </li>
                                <li class="item-menu">
                                    <a href="https://cellphones.com.vn/sim-3g-4g-nghe-goi.html"><i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-123.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-123.svg&quot;);"></i><span>Sim Thẻ</span><i class="fas fa-chevron-right fa-sm"></i></a><div class="box-list-menu box-child-list-menu"><ul class="list-menu"><li class="item-menu"><a href="https://cellphones.com.vn/sim-3g-4g-nghe-goi/the-cao.html"><span>Thẻ cào</span></a></li><li class="item-menu"><a href="https://cellphones.com.vn/sim-3g-4g-nghe-goi/dich-vu-sim.html"><span>Dịch vụ sim</span></a></li></ul></div>
                                </li>
                                <li class="item-menu">
                                    <a href="/sforum"><i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-tech.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-tech.svg&quot;);"></i><span>Tin công Nghệ</span></a>
                                </li>
                                <li class="item-menu">
                                    <a href="/danh-sach-khuyen-mai"><i class="icons-cate cpslazy loaded" data-bg="/media/icons/menu/icon-cps-promotion.svg" data-ll-status="loaded" style="background-image: url(&quot;/media/icons/menu/icon-cps-promotion.svg&quot;);"></i><span>Khuyến mại</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-logo">
                        <a href="#" title="ShopNCA - Hệ thống bán lẻ điện thoại">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="269.231" height="50" viewBox="0 0 269.231 50">
                                <defs>
                                    <pattern id="patternLogo" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 530 95">
                                        <image width="530" height="95" xlink:href="https://images.squarespace-cdn.com/content/v1/58e2a7e13e00be0ae5194b12/1496257970886-2W94HQ0LDX6O7R4DSHB2/NCA+Alarms"></image>
                                    </pattern>
                                </defs>
                                <rect id="header__logo--bg" width="269.231" height="50" fill="url(#patternLogo)"></rect>
                            </svg>
                        </a>
                    </div>
                    <div class="box-local-store dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <div class="box-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.22 30.36">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-width: 1.8px;
                                            }
                                        </style>
                                    </defs>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M11.61.9A10.77,10.77,0,0,0,.9,11.69C.9,20.14,10.6,28.87,11,29.23a.87.87,0,0,0,1.18,0c.42-.36,10.12-9.09,10.12-17.54A10.77,10.77,0,0,0,11.61.9Z"></path><path class="cls-1" d="M11.61,16.35a4.74,4.74,0,1,1,4.74-4.74,4.75,4.75,0,0,1-4.74,4.74Z"></path></g></g>
                                </svg>
                            </div>
                            <div class="box-content">
                                <p class="title">Xem giá tại</p>
                                <p><span>Hồ Chí Minh</span> <i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                        <ul class="dropdown-menu cps-dropdown-menu">
                            <li class="active"><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=hochiminh&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Hồ Chí Minh</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=hanoi&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Hà Nội</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=binhduong&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Bình Dương</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=haiduong&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Hải Dương</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=haiphong&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Hải Phòng</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=bacninh&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Bắc Ninh</a></li>
                            <li class=""><a href="javascript:void(0)" onclick="window.location.href='https://cellphones.com.vn/?___store=vinhphuc&amp;___from_store=hochiminh';"><i class="fa fa-map-marker" aria-hidden="true"></i> Vĩnh Phúc</a></li>
                        </ul>
                        <div class="suggestions-choose-store hidden">
                            <div class="box-content d-flex justify-content-around align-items-center">
                                <i class="fa fa-map-marker fa-2x text-danger mr-3 mb-2" aria-hidden="true"></i>
                                <p class="mb-0 font-14">Hãy chọn địa chỉ cụ thể để chúng tôi cung cấp chính xác giá và khuyến mãi.</p>
                            </div>
                            <div class="box-btn d-flex mt-3">
                                <button type="button" class="btn btn-success mr-3">Chọn địa điểm</button>
                                <button type="button" class="btn btn-danger" onclick="jQuery('.suggestions-choose-store').addClass('hidden')">Đóng</button>
                            </div>
                        </div>
                    </div>
                    <form id="form-box-search" class="box-main__form-search position-relative" action="https://cellphones.com.vn/catalogsearch/result/" method="get" autocomplete="off">
                        <div class="box-search"><div class="cps-group-input"><div class="input-group-btn"><i class="fas fa-search"></i></div><input type="text" name="q" id="search" class="cps-input" placeholder="Bạn cần tìm gì?" maxlength="128" autocomplete="off"></div></div>
                        <div id="search_autocomplete" class="box-search-result search-autocomplete" style="display: none;"></div>
                        <script defer="">
                            window.addEventListener('DOMContentLoaded', function () {
                                var searchForm = new Varien.searchForm('form-box-search', 'search', '');
                                searchForm.initAutocomplete('https://cellphones.com.vn/catalogsearch/ajax/suggest/', 'search_autocomplete');

                                jQuery('#search').on('input', function () {
                                    if (this.value === '') {
                                        jQuery('#search_autocomplete').hide();
                                    } else {
                                        jQuery('#search_autocomplete').show();
                                    }
                                });

                            })
                            function showAjaxSearchResult() {
                                jQuery('#search_autocomplete').show();
                            }
                            jQuery(".box-main__form-search #search").on("focus", function () {
                                // jQuery('#search_autocomplete').show();
                                jQuery(".header-overlay").addClass("active");
                            }).blur(function () {
                                // jQuery('#search_autocomplete').hide();
                                jQuery(".header-overlay").removeClass("active");
                            });
                        </script>
                    </form> <div class="box-about">
                        <a class="item-about about-1 about-contact" href="tel:18002097" onclick="actionFn('click-hotline')">
                            <div class="about__box-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.83 30.94" width="24" height="24">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-width: 1.8px;
                                            }
                                        </style>
                                    </defs>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M6.78,20.27a31,31,0,0,0,10.29,8.06A15.91,15.91,0,0,0,22.82,30h.41a4.77,4.77,0,0,0,3.7-1.59,0,0,0,0,0,0,0,14.62,14.62,0,0,1,1.17-1.2c.28-.28.57-.56.85-.85A2.91,2.91,0,0,0,29,22L25.33,18.4a2.94,2.94,0,0,0-2.13-1,3.07,3.07,0,0,0-2.15,1l-2.16,2.17c-.2-.12-.4-.22-.6-.32a6.74,6.74,0,0,1-.66-.36,22.82,22.82,0,0,1-5.47-5A13.11,13.11,0,0,1,10.32,12c.56-.52,1.09-1.05,1.61-1.58l.55-.56a3.07,3.07,0,0,0,1-2.17,3.08,3.08,0,0,0-1-2.18l-1.8-1.8L10.07,3c-.4-.41-.82-.83-1.23-1.21A3,3,0,0,0,6.72.9a3.07,3.07,0,0,0-2.15.94L2.31,4.09a4.64,4.64,0,0,0-1.38,3,11.09,11.09,0,0,0,.84,4.83,28.11,28.11,0,0,0,5,8.37Z"></path></g></g>
                                </svg>
                            </div>
                            <div class="about__box-content"><p class="mb-0 title">Gọi mua hàng<br><strong>1800.2097</strong></p></div>
                        </a>
                        <a class="item-about about-2 about-store" href="https://cellphones.com.vn/dia-chi-cua-hang">
                            <div class="about__box-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.22 30.36" width="25" height="25">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-width: 1.8px;
                                            }
                                        </style>
                                    </defs>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M11.61.9A10.77,10.77,0,0,0,.9,11.69C.9,20.14,10.6,28.87,11,29.23a.87.87,0,0,0,1.18,0c.42-.36,10.12-9.09,10.12-17.54A10.77,10.77,0,0,0,11.61.9Z"></path><path class="cls-1" d="M11.61,16.35a4.74,4.74,0,1,1,4.74-4.74,4.75,4.75,0,0,1-4.74,4.74Z"></path></g></g>
                                </svg>
                            </div>
                            <div class="about__box-content"><p class="mb-0 title">Cửa hàng<br>gần bạn</p></div>
                        </a>
                        <a class="item-about about-3 about-delivery-tracking" href="https://cellphones.com.vn/tra-cuu-don-hang-online">
                            <div class="about__box-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.22 25.85" height="24">
                                    <defs>
                                        <style>
                                            .cls-1, .cls-2, .cls-3 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                            }

                                            .cls-1 {
                                                stroke-width: 1.66px;
                                            }

                                            .cls-2 {
                                                stroke-width: 1.66px;
                                            }

                                            .cls-3 {
                                                stroke-width: 1.8px;
                                            }
                                        </style>
                                    </defs>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="7.66" cy="22.02" r="3"></circle><circle class="cls-2" cx="24.79" cy="22.02" r="3"></circle><path class="cls-3" d="M28.61,22h4.13a1.44,1.44,0,0,0,1.44-1.44v-6"></path><path class="cls-3" d="M27.12.9H14.82a1.44,1.44,0,0,0-1.44,1.44V20.58A1.44,1.44,0,0,0,14.82,22h6.29"></path><path class="cls-3" d="M10.27,5.92H6.75A2.65,2.65,0,0,0,4.54,7.11L1.33,12A2.64,2.64,0,0,0,.9,13.47v6.46A2.1,2.1,0,0,0,3,22h.75"></path><path class="cls-3" d="M34.18,3.47V2.34A1.44,1.44,0,0,0,32.74.9H25.08"></path><line class="cls-3" x1="43.32" y1="6.97" x2="32.57" y2="6.97"></line><line class="cls-3" x1="40.5" y1="11.05" x2="32.57" y2="11.05"></line><line class="cls-3" x1="42.09" y1="16.33" x2="38.07" y2="16.33"></line></g></g>
                                </svg>
                            </div>
                            <div class="about__box-content"><p class="mb-0 title">Tra cứu<br>đơn hàng</p></div>
                        </a>
                        <a class="item-about about-4 about-cart" href="https://cellphones.com.vn/checkout/cart/">
                            <div class="about__box-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.95 35.07" width="25" height="25">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-width: 1.8px;
                                            }
                                        </style>
                                    </defs>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M10,10.54V5.35A4.44,4.44,0,0,1,14.47.9h0a4.45,4.45,0,0,1,4.45,4.45v5.19"></path><path class="cls-1" d="M23.47,34.17h-18A4.58,4.58,0,0,1,.91,29.24L2.5,8.78A1.44,1.44,0,0,1,3.94,7.46H25a1.43,1.43,0,0,1,1.43,1.32L28,29.24A4.57,4.57,0,0,1,23.47,34.17Z"></path></g></g>
                                </svg>
                            </div>
                            <div class="about__box-content">
                                <p class="mb-0 title">Giỏ<br>hàng</p>
                                <span id="items_in_cart"></span>
                            </div>
                        </a>
                        <a class="item-about about-5 about-smember" href="https://cellphones.com.vn/smember">
                            <div class="about__box-icon">
                                <svg id="icon-smember" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560 560" width="20">
                                    <defs>
                                        <style>
                                            #icon-smember .cls-1 {
                                                fill: none;
                                                stroke: #fff;
                                                stroke-width: 30px;
                                            }
                                        </style>
                                    </defs>
                                    <title>Asset 1</title>
                                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="280" cy="280" r="265"></circle><circle class="cls-1" cx="280" cy="210" r="115"></circle><path class="cls-1" d="M86.82,461.4C124.71,354.71,241.91,298.93,348.6,336.82A205,205,0,0,1,473.18,461.4"></path></g></g>
                                </svg>
                            </div>
                            <div class="about__box-content">
                                <p class="mb-0 title">Smember</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="col-md-12 footer__box-contact bg-white">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="row">
                            <ul class="list-unstyled m-0">
                                <li class="mb-3">
                                    <p class="font-16 mb-2"><strong>Tìm cửa hàng</strong></p>
                                    <p class="mb-0"><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/dia-chi-cua-hang">Tìm cửa hàng gần nhất</a></p>
                                    <p class="mb-0"><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/chinh-sach-giao-hang">Mua hàng từ xa</a></p>
                                    <p class="mb-0"><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/dia-chi-cua-hang"><span style="color: #ff0000;">Gặp trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)</span></a></p>
                                </li>
                                <li class="box-cttt">
                                    <p class="font-16 mb-0"><strong>Phương thức thanh toán</strong></p>
                                    <ul class="col-md-10 col-sm-10  col-sm-10 d-flex flex-wrap m-0 list-unstyled">
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/huong-dan-mua-hang-online"><em class="border rounded icon-cps-visa"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/huong-dan-mua-hang-online"><em class="border rounded icon-cps-mastercard"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/huong-dan-mua-hang-online"><em class="border rounded icon-cps-atm"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/huong-dan-mua-hang-online"><em class="border rounded icon-cps-alepay"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/sforum/huong-dan-toan-bang-zalopay-khi-mua-hang-tren-website-cellphones"><em class="border rounded icon-cps-zalopay"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/sforum/huong-dan-su-dung-vnpay-qrcode-tren-website-cellphones"><em class="border rounded icon-cps-vnpay"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/sforum/huong-dan-thanh-toan-bang-vi-momo-khi-mua-hang-tren-website-cellphones"><em class="border rounded icon-cps-moca"></em></a></li>
                                        <li class="mt-2 pl-0 pr-2"><a href="https://cellphones.com.vn/huong-dan-mua-hang-online"><em class="border rounded icon-cps-mpos"></em></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="width: 29%;">
                        <div class="row">
                            <ul class="list-unstyled m-0">
                                <li class="mb-4">
                                    <p class="mb-0">Gọi mua hàng: <a class="text-reset font-weight-bold text-decoration-none" href="tel:18002097">1800.2097</a> (8h00 - 22h00)</p>
                                    <p class="mb-0">Gọi khiếu nại: <a class="text-reset font-weight-bold text-decoration-none" href="tel:18002063">1800.2063</a> (8h00 - 21h30)</p>
                                    <p class="mb-0">Gọi bảo hành: <a class="text-reset font-weight-bold text-decoration-none" href="tel:18002064">1800.2064</a> (8h00 - 21h00)</p>
                                </li>
                                <li>
                                    <p class="font-16 mb-0"><strong>Đối tác dịch vụ bảo hành</strong></p>
                                    <p class="mb-2">Điện Thoại - Máy tính</p>
                                    <a href="https://dienthoaivui.com.vn/"><em class="icon-dtv"></em></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="row">
                            <ul class="list-unstyled m-0">
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/chinh-sach-giao-hang">Mua hàng và thanh toán Online</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/tra-gop-online-the-tin-dung">Mua hàng trả góp Online</a></li>

                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/chinh-sach-giao-hang">Tra thông tin đơn hàng</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/smember">Tra điểm Smember</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://dienthoaivui.com.vn/kiem-tra-bao-hanh/" rel="nofollow">Tra thông tin bảo hành</a></li>
                                <li><span style="color: #000000;"><a href="https://hddt.cellphones.com.vn/" target="_blank"><span style="color: #000000;">Tra cứu hoá đơn điện tử</span></a></span></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/bao-hanh/apple">Trung tâm bảo hành chính hãng</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/quy-dinh-ve-viec-sao-luu-du-lieu">Quy định về việc sao lưu dữ liệu</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/sua-chua-phan-cung.html">Dịch vụ bảo hành điện thoại</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="width: 21%;">
                        <div class="row">
                            <ul class="list-unstyled m-0">
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/tos">Quy chế hoạt động</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/chinh-sach-bao-hanh">Chính sách Bảo hành</a></li>

                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/lien-he-hop-tac">Liên hệ hợp tác kinh doanh</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/dich-vu-khach-hang-doanh-nghiep">Đơn Doanh nghiệp</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/uu-dai-doi-tac">Ưu đãi từ đối tác</a></li>
                                <li><a class="text-reset text-decoration-none" href="https://cellphones.com.vn/sforum/tuyen-dung-cellphones/">Tuyển dụng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="gtx-trans" style="position: absolute; left: 23px; top: 481px;">
                    <div class="gtx-trans-icon"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 footer__box-information">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-12 mb-2 box-footer-ads text-center">
                        <div style="float: left; width: 30%; text-align: justify;"><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/chao-nam-hoc-moi"></a><a href="https://cellphones.com.vn/mobile.html"><span style="color: #333333;">Điện thoại</span></a>&nbsp;- <a href="https://cellphones.com.vn/black-friday">Black Friday 2021</a></span><br><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/iphone-11.html"><span>Điện thoại iPhone 11</span></a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/iphone-12.html">Điện thoại iPhone 12</a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/mobile/apple/iphone-13.html">Điện thoại iPhone 13</a></span><br><span style="color: #333333;"><span style="font-family: helvetica;"><a href="https://cellphones.com.vn/apple-iphone-xr-64-gb-chinh-hang-vn.html"><span style="color: #333333;"></span></a><a href="https://cellphones.com.vn/samsung-galaxy-s21-ultra.html"><span style="color: #333333;"></span></a><a href="https://cellphones.com.vn/samsung-galaxy-z-fold-3.html">Điện thoại&nbsp;Samsung Galaxy Z Fold 3</a>&nbsp;- <a href="https://cellphones.com.vn/do-choi-cong-nghe/apple-watch/series-7.html">Đồng hồ Apple Watch Series 7</a></span><span style="font-family: helvetica; font-size: x-small;"><br></span></span></div>
                        <div style="float: left; width: 33%; text-align: justify; padding-left: 2%;"><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/mobile/apple.html"><span style="color: #333333;"></span></a></span><br><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/mobile/apple.html"><span>Điện thoại Apple iPhone</span></a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/mobile/samsung.html"><span>Điện thoại Samsung</span>&nbsp;Galaxy</a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/mobile/xiaomi.html"><span style="color: #333333;">Điện thoại Xiaomi</span></a></span><br><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/mobile/oppo.html"><span>Điện thoại OPPO</span></a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/mobile/vivo.html"><span style="color: #333333;">Điện thoại Vivo</span></a>&nbsp;| <a href="https://cellphones.com.vn/mobile/oneplus.html"><span style="color: #333333;">Điện thoại OnePlus</span></a>&nbsp;| <a href="https://cellphones.com.vn/mobile/nokia.html">Điện thoại Nokia</a><a href="https://cellphones.com.vn/mobile/pocophone.html"><span style="color: #333333;"><br></span></a></span></div>
                        <div style="float: left; width: 30%; text-align: justify; padding-left: 2%;"><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/laptop.html"><span style="color: #333333;"></span></a><a href="https://cellphones.com.vn/laptop.html">Laptop</a><strong>&nbsp;|</strong>&nbsp;<a href="https://cellphones.com.vn/laptop/hp.html">Laptop HP</a><span>&nbsp;</span><span>-&nbsp;<a href="https://cellphones.com.vn/may-tinh-de-ban.html">Máy tính để bàn PC</a>&nbsp;-&nbsp;<a href="https://cellphones.com.vn/man-hinh.html">Màn hình máy tính</a></span></span><br><span style="font-family: helvetica; color: #333333;"><a href="https://cellphones.com.vn/nha-thong-minh/may-hut-bui.html">Máy hút bụi</a> - <a href="https://cellphones.com.vn/nha-thong-minh/may-hut-bui/robot-hut-bui.html">Robot hút bụi</a><span>&nbsp;|</span><span>&nbsp;</span><a href="https://cellphones.com.vn/nha-thong-minh/may-hut-bui/robot-hut-bui/robot-hut-bui-xiaomi.html">Robot hút bụi Xiaomi</a> -&nbsp;<a href="https://cellphones.com.vn/vong-deo-tay-thong-minh-xiaomi-mi-band-6.html"><span></span></a><a href="https://cellphones.com.vn/sim-3g-4g-nghe-goi.html">Sim số đẹp</a></span><br><span style="color: #333333;"><span style="font-family: helvetica;"><a href="https://cellphones.com.vn/phu-kien/camera.html"><span style="color: #333333;">Camera</span></a>&nbsp;|&nbsp;<a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh.html"><span style="color: #333333;">Camera hành trình</span></a>&nbsp;| <a href="https://cellphones.com.vn/phu-kien/camera/hanh-trinh/vietmap.html">Camera hành trình Vietmap</a></span><span style="font-family: helvetica; font-size: x-small;"><a href="https://cellphones.com.vn/nha-thong-minh/may-hut-bui/robot-hut-bui.html"><span style="color: #333333;"><br></span></a></span></span></div>
                    </div>
                    <div class="col-md-12 box-footer-information text-center">
                        <div class="row">

                            <p class="mb-1 text-black-50 text-information">Công ty TNHH Thương mại và dịch vụ kỹ thuật DIỆU PHÚC - GPĐKKD: 0316172372 do sở KH &amp; ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 028.7108.9666.</p>
                            <div class="mb-1 box-certification">


                                <a class="icon-cps-tb" href="http://online.gov.vn/Home/WebDetails/75641" rel="nofollow"></a>

                                <a href="https://www.dmca.com/Protection/Status.aspx?ID=158f5667-cce3-4a18-b2d1-826225e6b022&amp;refurl=https://cellphones.com.vn/" title="DMCA.com Protection Status" class="dmca-badge">
                                    <img src="https://images.dmca.com/Badges/dmca_copyright_protected150c.png?ID=158f5667-cce3-4a18-b2d1-826225e6b022" alt="DMCA.com Protection Status">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <a href="#top" id="backToTop" class="btn-back-to-top" title="Back to top" style="display: flex;"><i class="fa fa-lg fa-chevron-up" aria-hidden="true"></i><strong>Lên đầu</strong></a>
        <a href="https://zalo.me/3894196696036261863" target="_blank" id="btnZaloChat" class="btn-zalo-chat"><img class="cpslazy loaded" data-src="https://cellphones.com.vn/media/icons/icon-zalo.png" data-ll-status="loaded" src="https://cellphones.com.vn/media/icons/icon-zalo.png"></a>


        @*<script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "url": "https://cellphones.com.vn/",
                "potentialAction": {
                  "@type": "SearchAction",
                  "target": "https://cellphones.com.vn/catalogsearch/result/?q={search_term}",
                  "query-input": "required name=search_term"
                }
            }
                </script>*@
    </footer>

</body>
</html>
